(min-width: 1170px) and (max-width: 1600px) {
	.one-block__bottom {
		background-position: 40% 0;
	}
}

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
	
}


	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 10px;
	}
	.affiliate-wrapper {
		flex-direction: column;
	}
	.affiliate-wrap {
		margin-top: 20px;
		margin-right: 0;
	}
	.affiliate-block-case, .affiliate-block-crown {
		width: 100%;
		max-width: 425px;
		padding: 10px;
		font-size: 16px;
	}
	.form-popup {
		width: 70%;
	}
	.calc-account-wrap {
		flex-direction: column;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	.lang-knop {
		display: none;
	}
	.right-block {
		display: none;
	}
	.right-menu {
		right: 50px;
	}
	.knop {
		display: block;
		margin-right: 50px;
	}
	.top-menu {
		position: absolute;
		top: 65px;
		right: 0;
		padding-left: 0;
		padding-top: 0;
		display: none;
		background: #8d1524;
	}
	.top-menu li {
		display: block;
		padding-right: 0;
	}
	.top-menu a {
		display: block;
		padding: 20px;
	}
	.top-menu a:hover {
		padding-bottom: 20px;
		opacity: .9;
		border-bottom: 0;
		background: #650b16;
	}
	.toggle-menu {
		display: block;
	}
	.one-block__top  p {
		font-size: 20px;
	}
	.one-block__bottom {
		background-position: 50% 0;
	}
	.one-block__info, .one-block__video {
		float: none;
		margin: auto;
    	padding-left: 0;
    	text-align: center;
	}
	.one-block__info {
		width: 100%;
		padding-left: 0;
	}
	.one-block__video {
		width: 100%;
	}
	.one-block__info h3:after {
		margin: auto;
	}
	.one-block__info p {
		width: 100%;
	}
	.one-block__info h4 {
		padding-top: 20px;
	}
	.one-block__form {
		width: 70%;
		margin: auto;
	}
	.one-block__wrapper {
		padding: 270px 0 0 0;
	}
	.one-block__video iframe {
		width: 380px;
		height: 220px;
		margin-top: 18px;
	}
	.one-block__form input[type="email"], .one-block__form input[type="password"] {
		width: 100%;
		margin: 5px auto 5px auto;
	}
	.affiliate-wrapper {
		flex-direction: column;
	}
	.affiliate-wrap {
		margin-top: 20px;
		margin-right: 0;
	}
	.affiliate-block-case, .affiliate-block-crown {
		width: 100%;
		max-width: 425px;
		padding: 10px;
		font-size: 14px;
	}
	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 10px;
	}
	.marketing-calc {
		margin: 20px 0 20px 0;
	}
	.marketing-calc input {
		margin: auto;
		width: 25%;
	}
	.deposit-block {
		width: 100%;
		margin-right: 30px;
	}
	.advantages-block-wrapper {
		flex-direction: column;
	}
	.advantages-block {
		width: 100%;
	}
	.sertificats img {
		width: 80%;
		margin-bottom: 20px;
	}
	.payment-block {
		flex-direction: column;
		padding: 0;
	}
	.payment-block .item {
		padding: 20px 0;
	}
	.footer__col-wrapper {
		text-align: center;
	}
	.footer__logo {
		float: none;
		width: 100%;
		display: block;
		margin-bottom: 30px;
	}
	.footer__col {
		float: none;
		width: 100%;
		padding-left: 0;
	}
	.footer__col:nth-child(3) {
		width: 100%;
	}
	.footer-bottom {
		text-align: justify;
	}
	.form-popup {
		width: 70%;
	}
	.form-popup input[type=password], .form-popup input[type=text] {
		padding: 10px;
	}
	.form-popup span {
		font-size: 12px;
	}
	.form-popup button {
		padding: 10px;
		font-size: 14px;
	}
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
	.lang-knop {
		display: none;
	}
	.right-block {
		display: none;
	}
	.right-menu {
		right: 50px;
	}
	.knop {
		display: block;
		margin-right: 50px;
	}
	.top-menu {
		position: absolute;
		top: 65px;
		right: 0;
		padding-left: 0;
		padding-top: 0;
		display: none;
		background: #8d1524;
	}
	.top-menu li {
		display: block;
		padding-right: 0;
	}
	.top-menu a {
		display: block;
		padding: 20px;
	}
	.top-menu a:hover {
		padding-bottom: 20px;
		opacity: .9;
		border-bottom: 0;
		background: #650b16;
	}
	.toggle-menu {
		display: block;
	}
	.one-block__top  p {
		width: 80%;
		font-size: 20px;
	}
	.one-block__bottom {
		background-position: 50% 0;
	}
	.one-block__bottom {
		background-position: 50% 0;
	}
	.one-block__info, .one-block__video {
		float: none;
		margin: auto;
    	padding-left: 0;
    	text-align: center;
	}
	.one-block__info {
		width: 100%;
		padding-left: 0;
	}
	.one-block__video {
		width: 100%;
	}
	.one-block__info h3:after {
		margin: auto;
	}
	.one-block__info p {
		width: 100%;
	}
	.one-block__info h4 {
		padding-top: 20px;
	}
	.one-block__form {
		width: 100%;
	}
	.one-block__wrapper {
		padding: 245px 0 0 0;
	}
	.one-block__video {
		height: 0;
	}
	.one-block__video iframe {
		width: 100%;
		max-width: 380px;
		height: 210px;
		margin-top: 18px;
	}
	.one-block__form input[type="email"], .one-block__form input[type="password"] {
		width: 100%;
		margin: 5px auto 5px auto;
	}
	.one-block__info h3 {
		font-size: 20px;
	}
	.one-block__info p {
		font-size: 18px;
	}
	.affiliate-wrapper {
		flex-direction: column;
	}
	.affiliate-wrap {
		margin-top: 20px;
		margin-right: 0;
	}
	.affiliate-block-case, .affiliate-block-crown {
		width: 100%;
		max-width: 425px;
		padding: 10px;
		font-size: 12px;
	}
	.advantages-block-wrapper {
		flex-direction: column;
	}
	.advantages-block {
		width: 100%;
		margin-top: 5px;
	}
	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 10px;
	}
	.marketing-block__section .set-pan {
		padding: 9px 0;
		font-size: 12px;
	}
	.marketing-block__section span {
		font-size: 12px;
	}
	.marketing-calc input {
		margin-bottom: 5px;
	}
	.deposit-wrap {
		flex-direction: column;
	}
	.deposit-block {
		width: 100%;
		margin-top: 20px;
	}
	.sertificats img {
		width: 100%;
		margin-bottom: 15px;
	}
	.payment-block {
		flex-direction: column;
		padding: 0;
	}
	.payment-block .item {
		padding: 20px 0;
	}
	.one-block__reg a {
		width: 80%;
		display: block;
		margin: 0 auto 5px auto;
	}
	.footer__col-wrapper {
		text-align: center;
	}
	.footer__logo {
		float: none;
		width: 100%;
		display: block;
		margin-bottom: 30px;
	}
	.footer__col {
		float: none;
		width: 100%;
		padding-left: 0;
		font-size: 12px;
	}
	.footer__col a {
		font-size: 14px;
	}
	.footer__col:nth-child(3) {
		width: 100%;
	}
	.footer-bottom {
		text-align: justify;
	}
	.form-popup {
		width: 80%;
	}
	.form-popup input[type=password], .form-popup input[type=text] {
		padding: 10px;
	}
	.form-popup span {
		font-size: 12px;
	}
	.form-popup button {
		padding: 10px;
		font-size: 14px;
	}
	.calc-account-wrap {
		flex-direction: column;
	}
	.calc-account__days {
		flex-wrap: wrap;
	}
}