(min-width: 1170px) and (max-width: 1600px) {
	.one-block__bottom {
		background-position: 40% 0;
	}
}

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
	
}


	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 10px;
	}
	.affiliate-wrapper {
		flex-direction: column;
	}
	.affiliate-wrap {
		margin-top: 20px;
		margin-right: 0;
	}
	.affiliate-block-case, .affiliate-block-crown {
		width: 100%;
		max-width: 425px;
		padding: 10px;
		font-size: 16px;
	}
	.form-popup {
		width: 70%;
	}
	
	}
	
	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 15px;
	}
	.marketing-calc {
		margin: 20px 0 20px 0;
	}
	.marketing-calc input {
		margin: auto;
		width: 25%;
	}
	.deposit-block {
		width: 100%;
		margin-right: 30px;
	}
	
	.marketing-wrapper {
		flex-direction: column;
	}
	.marketing-block {
		margin-bottom: 10px;
	}
	.marketing-block__section .set-pan {
		padding: 9px 0;
		font-size: 12px;
	}
	.marketing-block__section span {
		font-size: 12px;
	}
	.marketing-calc input {
		margin-bottom: 5px;
	}
	.deposit-wrap {
		flex-direction: column;
	}
	.deposit-block {
		width: 100%;
		margin-top: 20px;
	}
	