/* ********** */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {font-size: 100%;font-family: 'Montserrat'}

.wrapper {
	position: relative;
	overflow: hidden;
}

.content-wrapper {
	width: 120%;
	max-width: 1290px;
	margin: auto;
	padding: 0 30px;
}




.marketing {
	padding: 34px 0 53px 0;
	width: 100%;
	background: url(img/marketing.png) no-repeat;
	background-size: cover;
}

.marketing h3 {
	padding-bottom: 21px;
	font-family: "ProximaNovaBold";
	font-size: 30px;
	color:#000;
	text-align: center;
}

.marketing-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	text-align: center;
}

.marketing-block {
	position: relative;
	margin-right: 5px;
	background: #fff;
}

.marketing-block .marketing-block__crypt {
	height: 62px;
	font-family: "ProximaNovaBold";
	font-size: 18px;
	color: #fff;
	line-height: 62px;
	border: 2px solid #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(img/marketing1.png);
}

.marketing-block .marketing-block__fond {
	height: 62px;
	font-family: "ProximaNovaBold";
	font-size: 18px;
	color: #fff;
	line-height: 62px;
	border: 2px solid #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(img/marketing2.png);
}

.marketing-block__section {
	width: 32%;
	padding: 7px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ddd;
}

.marketing-block__section:last-child {
	border-right: 0;
}

.marketing-block__info {
	padding: 1px;
	text-align: left;
	line-height: 24px;
}

.marketing-block__section span {
	width: 100%;
	font-family: "ProximaNovaRegular";
	font-size: 14px;	
}

.marketing-block__section .info-details {
	font-family: "ProximaNovaBold";
	color: #000;
}

.marketing-block__section .info-details-w {
	color: #fff;
}

.marketing-block__section .set-pan {
	margin-top: 19px;
	padding: 9px 21px;
	display: block;
	font-family: "ProximaNovaBold";
	font-size: 16px;
	text-decoration: none;
	color: #000;
	border: 2px solid #3498DB;
	-webkit-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

.marketing-block__section .set-pan:hover {
	position: relative;
	top: 1px;
	background: #3498DB;
	color: #fff;
}

.marketing-block__section .set-pan-w {
	position: absolute;
	bottom: 7px;
}

.marketing-title-calc {
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: "ProximaNovaBold";
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.marketing-title-desc {
	font-family: "ProximaNovaRegular";
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.marketing-calc {
	margin-top: 20px;
	text-align: center;
}

.marketing-calc input {
	width: 230px;
	height: 35px;
	margin-right: 11px;
	padding-left: 10px;
	background: transparent;
	border: 1px solid #fff;
	position: relative;
}

.marketing-calc-tarif:after {
	content: '\f105';
	font-family: 'FontAwesome';
	display: block;
	position: absolute;
	font-size: 14px;
	color: #fff;
}

.index {
	width: 100%;
	height: 120px;
	background: #fff;
}

.affiliate {
	width: 100%;
	padding: 25px 0 36px 0;
	background: url(../images/afiliate.png) no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.affiliate h3 {
	padding-bottom: 45px;
	font-family: "ProximaNovaBold";
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.affiliate-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.affiliate-wrap {
	margin-right: 20px;
	text-align: center;
}

.affiliate-wrap h5 {
	padding: 10px;
	font-family: "ProximaNovaBold";
	font-size: 18px;
	color: #fff;
}

.affiliate-block-case {
	width: 425px;
	height: 127px;
	padding: 20px;
	margin: auto;
	color: #fff;
	font-family: "ProximaNovaBold";
	text-align: left;
	line-height: 24px;
	background: url(../images/affiliate.png) no-repeat;
	border: 2px solid #fff;
}

.affiliate-block-crown {
	width: 425px;
	height: 127px;
	padding: 20px;
	margin: auto;
	color: #fff;
	font-family: "ProximaNovaBold";
	text-align: left;
	line-height: 24px;
	background: url(../images/affiliate.png) no-repeat;
	border: 2px solid #fff;
}

.affiliate-join {
	width: 220px;
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 20px;
	line-height: 45px;
	text-align: center;
	font-family: "ProximaNovaBold";
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	-webkit-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

.affiliate-join:hover {
	position: relative;
	top: 1px;
	background: #fff;
	color: #7a121f;
}

.deposit {
	width: 100%;
	padding: 38px 0 25px 0;
	background: url(../images/header-bg.png) no-repeat;
	background-size: cover;
}

.deposit-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.deposit-block {
	width: 30%;
	margin-right: 50px;
}

.deposit-block h4 {
	font-family: "ProximaNovaBold";
	font-size: 18px;
	color: #000;
}

.deposit-block ul {
	margin-top: 20px;
}


.deposit-block li {
	height: 33px;
    border: 2px solid #3498DB;
    margin-bottom: 15px;
    background: #fff;
}

.deposit-block .deposit-block-title {
	float: left;
    padding: 5px 0 0 20px;
    font-family: "ProximaNovaRegular";
}

.deposit-block .deposit-block-price {
	width: 100px;
    height: 29px;
    float: left;
    line-height: 29px;
    background:#3498DB ;
    color: #fff;
    position: relative;
    font-family: "ProximaNovaBold";
    text-align: center;
}

.deposit-block .deposit-block-price-right {
	width: 100px;
    height: 29px;
    float: left;
    line-height: 29px;
    background: #3498DB;
    color: #fff;
    position: relative;
    font-family: "ProximaNovaBold";
    text-align: center;
}

.deposit-block .deposit-block-price:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	border-width: 15px 16px 14px 15px;
	border-color: transparent #fff transparent transparent;
	right:0;
}

.deposit-block .deposit-block-price-right:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right:-33px;
	border-style: solid;
	border-width: 14px 20px 15px 13px;
	border-color: transparent transparent transparent #3498DB;
}

.deposit-block img {
	float: left;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 5px;
}

.deposit h5 {
	font-family: "ProximaNovaBold";
	font-size: 18px;
	color: #000;
	text-align: center;
	line-height: 25px;
}

.marketing {
	padding: 34px 0 53px 0;
	width: 100%;
	background: url(img/marketing.png) no-repeat;
	background-size: cover;
}
.company {
	padding: 50px 0 53px 0;
	width: 100%;
	background: url(img/marketing.png) no-repeat;
	background-size: cover;
}
